# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/build-kc_db_link-Desktop_Qt_5_9_1_MinGW_32bit-Release
/build-kc_db_link-Desktop_Qt_5_9_1_MinGW_32bit-Debug
/trunk/build-kc_db_link_drv-Desktop_Qt_5_9_1_MinGW_32bit-Debug
